<html>
	<head>
		<title> League Project</title>
	</head>
	<h1> Input Teams</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.blueplayer1.label }}
			{{ form.bluechamp1.label }}
			{{ form.bluerole1.label }}<br>
			
			{{ form.blueplayer1(size=32) }}
			{{ form.bluechamp1(size=32) }}
			{{ form.bluerole1() }}
		</p>
		<p>
			{{ form.blueplayer2.label }}
			{{ form.bluechamp2.label }}
			{{ form.bluerole2.label }}<br>
			
			{{ form.blueplayer2(size=32) }}
			{{ form.bluechamp2(size=32) }}
			{{ form.bluerole2() }}
		</p>
		<p>
			{{ form.blueplayer3.label }}
			{{ form.bluechamp3.label }}
			{{ form.bluerole3.label }}<br>
			
			{{ form.blueplayer3(size=32) }}
			{{ form.bluechamp3(size=32) }}
			{{ form.bluerole3() }}
		</p>
		<p>
			{{ form.blueplayer4.label }}
			{{ form.bluechamp4.label }}
			{{ form.bluerole4.label }}<br>
			
			{{ form.blueplayer4(size=32) }}
			{{ form.bluechamp4(size=32) }}
			{{ form.bluerole4() }}
		</p>
		<p>
			{{ form.blueplayer5.label }}
			{{ form.bluechamp5.label }}
			{{ form.bluerole5.label }}<br>
			
			{{ form.blueplayer5(size=32) }}
			{{ form.bluechamp5(size=32) }}
			{{ form.bluerole5() }}
		</p>
		
		<p>
			{{ form.redplayer1.label }}
			{{ form.redchamp1.label }}
			{{ form.redrole1.label }}<br>
			
			{{ form.redplayer1(size=32) }}
			{{ form.redchamp1(size=32) }}
			{{ form.redrole1() }}
		</p>
		<p>
			{{ form.redplayer2.label }}
			{{ form.redchamp2.label }}
			{{ form.redrole2.label }}<br>
			
			{{ form.redplayer2(size=32) }}
			{{ form.redchamp2(size=32) }}
			{{ form.redrole2() }}
		</p>
		<p>
			{{ form.redplayer3.label }}
			{{ form.redchamp3.label }}
			{{ form.redrole3.label }}<br>
			
			{{ form.redplayer3(size=32) }}
			{{ form.redchamp3(size=32) }}
			{{ form.redrole3() }}
		</p>
		<p>
			{{ form.redplayer4.label }}
			{{ form.redchamp4.label }}
			{{ form.redrole4.label }}<br>
			
			{{ form.redplayer4(size=32) }}
			{{ form.redchamp4(size=32) }}
			{{ form.redrole4() }}
		</p>
		<p>
			{{ form.redplayer5.label }}
			{{ form.redchamp5.label }}
			{{ form.redrole5.label }}<br>
			
			{{ form.redplayer5(size=32) }}
			{{ form.redchamp5(size=32) }}
			{{ form.redrole5() }}
		</p>
		
		
		<p>{{ form.submit() }}</p>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message}}</li>
			{%endfor%}
		</ul>
		{%endif%}
		{%endwith%}
		
		
			
		
	</form>
</html>